<div class="book">
    <div id="pages">
        <div class="page">
            <img src="assets/book_cover.jpg" alt="book-cover">
        </div>
        <div class="page" style="display: none">
            <div class="center">
                <h3>En vous remerciant de participer à cette histoire</h3>
            </div>
        </div>
        <div class="page" *ngFor="let page of pages | async; let index = index; last as isLast;">
            <app-page [pageNumber]="index + 2" *ngIf="!isLast"></app-page>
            <app-editable-page [pageNumber]="index + 2" *ngIf="isLast"></app-editable-page>
        </div>

        <div class="page" *ngIf="isPageNumberOdd">
            <div class="center">
                <h3>Fin</h3>
            </div>
        </div>

        <div class="page" style="display: none">
            <img src="assets/book_cover_end.jpg" alt="book-cover">
        </div>
    </div>

    <div class="bookmark" (click)="navigateToLastPage()">
        <i class="fas fa-bookmark fa-2x"></i>
    </div>
</div>
